<form [ngFormModel]="signupForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-8 col-offset-2">

            <div class="form-group">
                <label for="">Firstname</label>
                <input id="firstName" #firstName="ngForm" ngControl="firstName" type="text" class="form-control">
                <div *ngIf="firstName.touched && firstName.errors">
                    <div *ngIf="firstName.errors.required" class="alert alert-danger">
                        Field is required
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="">Lastname</label>
                <input id="lastName" #lastName="ngForm" ngControl="lastName" type="text" class="form-control">
                <div *ngIf="lastName.touched && lastName.errors">
                    <div *ngIf="lastName.errors.required" class="alert alert-danger">
                        Field is required
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input id="email" #email="ngForm" ngControl="email" type="text" class="form-control">
                <div *ngIf="email.touched && email.errors">
                    <div *ngIf="email.errors.required" class="alert alert-danger">
                        Field is required
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="">Password</label>
                <input id="password" #password="ngForm" ngControl="password" type="password" class="form-control">
                <div *ngIf="password.touched && password.errors">
                    <div *ngIf="password.errors.required" class="alert alert-danger">
                        Field is required
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Submit</button>


        </div>
    </div>
</form>